/*font-family: 'Lato',
sans-serif;
font-family: 'Roboto',
sans-serif; */
*{
    box-sizing: border-box;
}

.logo, .first-nav, .second-nav {
    display: inline-block;
}


ul {
    text-decoration: none;
    display: flex;
    position: relative;
   
}


a {
    text-decoration: none;
    color: black;

   
}
li {
list-style: none;

}
.first-nav li {
     padding-right: 20px;   
}

.first-nav, .second-nav {
    position: relative;
    top: -30px;
}

.header-container {


    padding-top: 10px;
}

.first-nav {
    display: inline-block;
    width: 40%;
    font-family:'Lato', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 15px;


}
.logo {
    margin-left: 20px;
    margin-top: 20px;
}
.second-nav {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: inline-block; 
    position: relative;
    margin-left: 200px auto;
    left: 90px;
    
}
.second-nav, li:hover {
    cursor: pointer;
}
.second-nav img {
    text-align: center;
    position: relative;
    top: 5px;
    padding-right: 5px;
    height: 30px;
    width: 30px;
}

.second-nav li {
    padding-right: 20px;
}
.first-nav a {
    padding: 10px;
}
.first-nav a:hover {
   background: #e3b347;
}

label {
    margin-top: 9px;
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
     position: relative;
    left: 5px;
}
select {
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    color: #adadad;
    margin-top: 7px;
     position: relative;
      left: 5px;
}
.select-name {
    font-size: 14px;
    color: black;
}


.form-control {
    width: 145px;
    height: 30px;
}

.form-group {
    
   margin-top: px;
   
}


.btn-box {
    border: 2px solid red;
}

.container {

    margin-top: 40px;
}

.btn-podbor {
    height: 30px;
    position: relative;
    width: 145px;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
     position: relative;
      left: 7px;
}
.btn-podbor {
    border: none;
    color: #030200;
    border-radius: 3px 3px 3px 3px;

    font-family: 'Lato',sans-serif;

    font-size: 15px;

 
  
    background-color: #FFFFFF;
}

.btn-podbor:hover {
    cursor: pointer;
     box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset,
     0 1px 1px 1px rgba(255, 255, 255, 0.8),
     0 -1px 1px 1px rgba(255, 255, 255, 0.8);
}

.main-img img {
    margin-top: 15px;
    position: relative;
    left: 15px;
    width: 159px;
    height: 400px;
}

.second-img img{
    position: absolute;
    bottom: 735px;
    left: 60px;
    width: 80px;
    height: 80px;
}

.JAWSBREW {
    font-family: 'Lato',
    sans-serif;
    color: white;
    position: absolute;
     bottom: 640px;
     left: 60px;
     width: 80px;
     height: 80px;

}

.sidebar-try {
    width: 150px;
    position: absolute;
    border: none;
    color: #030200;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    bottom: 675px;
    right: 20px;
}
.sidebar-try img {
    margin-right: 5px;
}
.sidebar-try img, p {
    display: inline-block;
}

.sidebar-try:hover {
    cursor: pointer;
      color: rgb(24, 24, 24);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset,
    0 1px 1px 1px rgba(237, 235, 235, .5),
    0 -1px 1px 1px rgba(237, 235, 235, .5);
}

.block {
    background-color: #edebeb;
    height: 220px;
    width: 160px;
    top: -20px;
    position: absolute;
}


.first-column p {
    display: block;
    line-height: 1;
    
}
.first-column img {
    position: relative;
    left: 40px;
    
}
.first-column .row {
    
   background-color: #fef8e8;
}
.second-column p {
    display: block;
    line-height: 1;

}

.second-column img {
    position: relative;
    left: 50px;

}

.second-column .row {

    background-color: #f7f7f7;
}
.thirst-column p {
    display: block;
    line-height: 1;

}

.thirst-column img {
    position: relative;
    left: 55px;


}

.thirst-column .row {

    background-color: #eff7e2;
}

.down-text {
    font-family: 'Roboto',
    sans-serif;
position: relative;
font-size: 12px;
left: -13px;
}
.down-text span {
    padding-left: 3px;
    color: #beb7b7;
}
.down-text strong {
    font-weight: normal;
    color: #e3b347;
}

.block-2 {
    position: absolute;
    top: -20px;
    background-color: #fef8e8;
    width: 190px;
    height: 250px;
}
.block-3 {
    position: absolute;
    top: -20px;
    background-color: #f7f7f7;
    width: 190px;
    height: 250px;
}
.block-4 {
    position: absolute;
    top: -20px;
    background-color: #eff7e2;
    width: 190px;
    height: 250px;
}

.conteiner {
    margin-top: 20px;
}

.row2 {
    height: 266px;
}
.block,
.block-2,
.block-3,
.block-4 {
  
}

.block:hover,
.block-2:hover,
.block-3:hover,
.block-4:hover {
     content: "";
     cursor: pointer;
     background: rgba(255, 255, 255, 1);
     opacity: 0.6;
     transition: .3s ease-in-out;
   
}





    .rowhover:hover {
        content: "";
        cursor: pointer;
        background: rgba(255, 255, 255, 1);
        opacity: 0.6;
        transition: .3s ease-in-out;
    }

    
/* Item */
.ui-234 .ui-item {
    margin: 0px;
}

/* Flip */
.ui-234 .ui-item .ui-flip {
    position: relative;
    transform-style: preserve-3d;
    transition: 1s transform;
}

.ui-234 .ui-item:hover .ui-flip  {
    content: "";
   
    background: rgba(255, 255, 255, 1);
    opacity: 0.6;
    transition: .3s ease-in-out;
}

/* Item Hover */
.ui-234 .ui-item .ui-flip .ui-hover  {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    padding: 28% 0px;
  
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    opacity: 0;
    box-shadow: inset 0px 0px 50px rgba(253, 176, 176, 0.11);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: black;
   
}

.ui-234 a {
    font-family: 'Roboto',
    sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: default;
}

.ui-234 .ui-item:hover .ui-flip .ui-hover  {
    opacity: 1;
}

/* Heading */
.ui-234 .ui-item .ui-flip .ui-hover h3 {
     font-family: 'Roboto',
     sans-serif;
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    color: black;
}

.ui-234 .ui-item .ui-flip .ui-hover  h3>a {
    color: black;
    padding: 2px 10px 4px;
}


.product-card {
    font-family: 'Lato',
    sans-serif;
    font-weight: 700;
    text-transform: uppercase; 
    font-size: 12px;
    color: black;
    display: block;
    width: 100%;
    height: 30px;
    background-color: #e3b347;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.product-card::active {
    border: none;
    text-decoration: none;
}

.ui-234 span {
display: block;
margin-bottom: 20px;
}

.ui-234 span::before {
    content: '-';
    text-align: center;
    height: 4px;
    font-size: 16px;
    padding-right: 15px;
    font-weight: 700;
}
.ui-234 span::after {
    content: '+';
    text-align: center;
    height: 4px;
    font-size: 16px;
    padding-left: 15px;
    font-weight: 700;
}